/* Reset Styles */
html {
  box-sizing: border-box;
  font-size: 10px;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  font-size: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

/* General Styles */

body {
  @extend %main-typo;
  background-color: $body-bg-color;
  overflow-x: hidden;
  height: 100%;
  position: relative;
}

.root-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
}

.heading {
  color: $black;
  font-size: 4rem;
  font-weight: 600;
  line-height: 5.6rem;
  text-transform: capitalize;
  text-align: center;
}

.title {
  color: $secondary-color;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.44px;
}

.title:hover {
  color: $hover-color;
}

.button {
  color: $white;
  background-color: $secondary-color;
  line-height: 25px;
  text-transform: capitalize;
  padding: 10px 20px;
  border: 1px solid $secondary-color;
  border-radius: $border-radius;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: $items-bg-color;
  color: $secondary-color;
}
.button:active {
  scale: (0.95);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 80;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}
