.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 70;
  padding: 2.8rem 0;
  background-color: $white;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.05);

  // .header__wrapper

  &__wrapper {
    @include ds-flex;
  }

  // .header__btns

  &__btns {
    max-width: 310px;
    width: 100%;
    @include ds-flex;
  }
}
#menu-btn {
  cursor: pointer;
}
.socials {
  @include ds-flex($gap: 20px);
  // .socials__item

  &__item {
    width: 6.5rem;
    height: 6.5rem;
    padding: 2px;
    @extend %flex-center;
    background-color: $items-bg-color;
    border-radius: $border-radius;
  }

  &__link {
    transition: all 0.2s ease;
  }

  &__item:hover > &__link {
    scale: 1.25;
  }
}
