// Home
.hero {
  min-height: calc(100vh - 10.05rem);
  position: relative;
  // .hero__wrapper

  &__wrapper {
    padding: 5.5rem 0 10rem;
    @include ds-flex($ai: start);
  }

  // .hero__decr

  &__descr {
    flex-basis: 55%;
  }

  // .hero__sticker

  &__sticker {
    @include ds-flex;
    max-width: 360px;
    background-color: $bg-color;
    padding: 14px 12px;
    border-radius: $border-radius;
    margin-bottom: 3.5rem;
    animation: bounce-in-top 1.5s 1.5s both;
  }

  // .hero__sticker-title

  &__sticker-title {
    color: $black;
  }

  @keyframes bounce-in-top {
    0% {
      transform: translateY(-500px);
      animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      transform: translateY(0);
      animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      transform: translateY(-65px);
      animation-timing-function: ease-in;
    }
    72% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    81% {
      transform: translateY(-28px);
      animation-timing-function: ease-in;
    }
    90% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
    95% {
      transform: translateY(-8px);
      animation-timing-function: ease-in;
    }
    100% {
      transform: translateY(0);
      animation-timing-function: ease-out;
    }
  }

  // .hero__heading

  &__heading {
    color: $black;
    font-size: 6rem;
    line-height: 120%;
    text-transform: capitalize;
    margin-bottom: 15px;
    animation: focus-in-expand 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.4em;
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }

  // .hero__text

  &__text {
    margin-bottom: 5.5rem;
    animation: fade-in-fwd 1s cubic-bezier(0.39, 0.575, 0.565, 1) 1.5s both;
  }

  @keyframes fade-in-fwd {
    0% {
      transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

  // .hero__btns

  &__btns {
    @include ds-flex;
    max-width: 420px;
    animation: fade-in-bottom 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) 1s both;
  }

  @keyframes fade-in-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  // .hero__img

  &__img {
    animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
  }

  @keyframes slide-in-right {
    0% {
      transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  // hero decor images
  &__decor-circle,
  &__decor-cross {
    position: absolute;
    z-index: 5;
    opacity: 0;
  }

  &__decor-circle {
    animation: fade 6s linear infinite alternate both;
  }
  &__decor-cross {
    animation: fade 6s linear infinite 3s alternate both;
  }
  @keyframes fade {
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  &__decor-circle:nth-child(1) {
    top: 3%;
    left: 20%;
  }
  &__decor-circle:nth-child(2) {
    bottom: 15%;
    left: 30%;
  }
  &__decor-circle:nth-child(3) {
    top: 10%;
    right: 40%;
  }
  &__decor-circle:nth-child(4) {
    bottom: 10%;
    right: 30%;
  }

  &__decor-cross:nth-child(5) {
    top: 35%;
    left: 40%;
  }
  &__decor-cross:nth-child(6) {
    bottom: 10%;
    left: 20%;
  }
  &__decor-cross:nth-child(7) {
    top: 5%;
    right: 20%;
  }
  &__decor-cross:nth-child(8) {
    bottom: 20%;
    right: 50%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 52px;
    background-color: #aee2ff;
  }
}

// Services Section
.home-services {
  padding: 5.5rem 0 11rem;
  text-align: center;
  // .home-services__title

  &__title {
    margin-bottom: 2rem;
  }

  // .home-services__text

  &__text {
    margin-bottom: 3rem;
  }

  // .home-services__list

  &__list {
    @include ds-flex;
    padding: 0 15rem;
    flex-wrap: wrap;
  }

  // .home-services__list-item

  &__list-item {
    max-width: 350px;
    margin-bottom: 3rem;
  }

  // .home-services__list-img

  &__list-img {
    @extend %flex-center;
    width: 100px;
    height: 100px;
    background-color: $items-bg-color;
    border-radius: 50%;
    margin: 0 auto 3rem;
  }

  // .home-services__list-title

  &__list-title {
    margin-bottom: 10px;
  }
}

// Companies Section

.companies {
  padding-bottom: 12rem;
  text-align: center;
  // .companies__wrapper

  &__wrapper {
    max-width: 1050px;
    margin: 0 auto;
  }

  // .companies__heading

  &__heading {
    margin-bottom: 5px;
  }

  // .companies__text

  &__text {
    margin-bottom: 3.5rem;
  }

  // .companies__logos-top

  &__logos-top {
    @include ds-flex;
    margin-bottom: 6rem;
    padding: 0 6rem;
  }

  // .companies__logos-bottom

  &__logos-bottom {
    @include ds-flex($jc: space-around);
    padding: 0 10rem;
  }
}

// Process Section
.process {
  padding-bottom: 10rem;
  // .process__wrapper

  &__wrapper {
    @include ds-flex($ai: start, $gap: 5rem);
  }

  // .process__descr

  &__descr {
    flex-basis: 60%;
  }

  // .process__heading

  &__heading {
    text-align: left;
    margin-bottom: 5px;
  }

  // .process__text

  &__text {
    margin-bottom: 3rem;
  }

  // .process__item

  &__item {
    @include ds-flex($ai: start, $gap: 30px);
    margin-bottom: 3rem;
  }

  // .process__item-icon

  &__item-icon {
    @extend %flex-center;
    width: 165px;
    height: 60px;
    border-radius: $border-radius;
  }

  &__item:nth-child(1) &__item-icon {
    background-color: #fcedee;
  }
  &__item:nth-child(2) &__item-icon {
    background-color: #bed3ff;
  }
  &__item:nth-child(3) &__item-icon {
    background-color: #defeea;
  }
  &__item:nth-child(4) &__item-icon {
    background-color: #ffeea6;
  }

  // .process__item-title

  &__item-title {
    color: $black;
    font-weight: 600;
    font-size: 18px;
  }
}

// Work Section
.work {
  padding-bottom: 15rem;
  // .work__heading

  &__heading {
    margin-bottom: 5px;
  }

  // .work__text

  &__text {
    max-width: 93rem;
    margin: 0 auto 3rem;
    text-align: center;
  }

  // .work__slider

  &__slider {
    width: 100%;
    height: 100%;
  }

  // .work__slider-wrapper

  &__slider-wrapper {
    border-radius: $border-radius;
  }

  // .work__slider-slide

  &__slider-slide {
    transition: all 0.3s ease;
  }
  &__slider-slide:hover {
    transform: scale(0.95);
  }

  // .work__slider-pagination

  &__slider-pagination {
    position: static;
    margin-top: 20px;
  }

  &__slider-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  &__slider-pagination .swiper-pagination-bullet-active {
    background-color: $secondary-color;
    width: 12px;
    height: 12px;
  }
}

// Banner Section
.banner {
  background-color: $bg-color;
  padding: 7.5rem 0;
  // .banner__wrapper

  &__wrapper {
    @include ds-flex;
  }

  // .banner__heading

  &__heading {
    flex: 1;
    border-right: 4px solid #e2e2e2;
    padding-right: 20px;
  }

  // .banner__text

  &__text {
    flex: 1;
    padding-left: 40px;
  }
}

// Team
.team {
  padding: 9rem 0 12rem;
  // .team__wrapper

  &__wrapper {
    @include ds-flex($gap: 7rem);
  }

  // .team__img

  &__img {
    flex: 1;
  }

  // .team__descr

  &__descr {
    flex: 1;
  }

  // .team__heading

  &__heading {
    max-width: 400px;
    text-align: left;
    margin-bottom: 20px;
  }

  // .team__text

  &__text {
    margin-bottom: 4.5rem;
  }
}
