@media (max-width: 1280px) {
  // home process
  .process {
    &__wrapper {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
    &__descr {
      flex-basis: 80%;
    }
  }
  // Testimonials
  .testimonials {
    // .testimonials__imgs

    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
      gap: 25px;
    }
    &__imgs {
      width: 80%;
    }
    &__descr {
      width: 80%;
    }
    &__heading {
      text-align: center;
    }
  }

  // Services
  .services {
    // .services__card

    &__card {
      max-width: 490px;
    }
  }
}

@media (max-width: 1075px) {
  // home services
  .home-services {
    &__list {
      padding: 0 5rem;
    }
  }

  // Services
  .services {
    // .services__card

    &__card {
      max-width: 800px;
    }
  }

  // Vacancy
  .vacancy {
    background-color: $bg-color;
    padding-bottom: 10rem;
    // .vacancy__wrapper

    &__wrapper {
      flex-direction: column;
      text-align: center;
    }

    // .vacancy__heading

    &__heading {
      text-align: center;
    }
  }
}

@media (max-width: 990px) {
  // hero section
  .hero {
    &__wrapper {
      justify-content: center;
    }
    &__descr {
      flex-basis: 90%;
    }
    &__img {
      display: none;
    }
  }
  // home services
  .home-services {
    &__list {
      padding: 0 1rem;
    }
  }
  // Team
  .team {
    text-align: center;
    // .team__wrapper

    &__wrapper {
      flex-direction: column;
      justify-content: center;
    }

    // .team__img

    &__img {
      flex: 1;
    }

    // .team__descr

    &__descr {
      flex: 1;
    }

    // .team__heading

    &__heading {
      margin: 0 auto 20px;
      text-align: center;
    }
  }
  // About us team
  .leader-team {
    // .leader-team__wrapper

    &__wrapper {
      grid-template-columns: repeat(2, minmax(150px, 250px));
    }
  }

  // Blog Posts Section about us
  .blog-posts {
    // .blog-posts__wrapper

    &__wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .blog-post {
    width: 45%;
  }
}

@media (max-width: 769px) {
  html {
    font-size: 8.5px;
  }
  .header {
    &__btns {
      max-width: 250px;
    }
  }
  .burger-menu {
    width: 95%;
  }
  // home services
  .home-services {
    &__list {
      @include ds-flex($jc: center);
    }
    &__list-item {
      max-width: 450px;
    }
  }
  // Companies
  .companies {
    &__logos-top,
    &__logos-bottom {
      @include ds-flex($jc: center);
      flex-wrap: wrap;
      padding: 0;
    }
  }
  // home process
  .process {
    &__descr {
      flex-basis: 95%;
    }
  }
  // Banner Section
  .banner {
    // .banner__wrapper

    &__wrapper {
      flex-direction: column;
      justify-content: center;
    }

    // .banner__heading

    &__heading {
      flex: 1;
      border-bottom: 4px solid #e2e2e2;
      border-right: none;
      padding-right: 0;
      padding-bottom: 20px;
      text-align: center;
    }

    // .banner__text

    &__text {
      flex: 1;
      padding-left: 0;
      padding-top: 10px;
      text-align: center;
    }
  }

  // Testimonials
  .testimonials {
    &__imgs {
      width: 90%;
    }
    &__imgs-row--bottom &__img:nth-child(1) {
      margin-top: -60px;
    }
    &__descr {
      width: 90%;
    }
    &__profile {
      padding-bottom: 70px;
    }

    // .testimonials__nav-btns

    &__nav-btns {
      position: relative;
      bottom: 35px;
      left: -10px;
      width: 150px;
    }
  }

  // About Post
  .blog-post {
    width: 100%;
  }
}

@media (max-width: 490px) {
  html {
    font-size: 7.5px;
  }
  .header {
    &__btns {
      display: block;
      width: fit-content;
    }
    &__btns .button {
      display: none;
    }
  }
  .burger-menu {
    padding: 5rem;
    &__socials {
      width: 100%;
    }
  }
  // hero section
  .hero {
    text-align: center;
    &__btns,
    &__sticker {
      flex-direction: column;
    }
    &__heading,
    &__sticker {
      margin: 0 auto 15px;
    }
    &__heading {
      font-size: 3.5rem;
    }
    &__text {
      margin-bottom: 3rem;
    }
  }
  .socials {
    flex-wrap: wrap;
  }

  // home process
  .process {
    text-align: center;
    &__heading {
      text-align: center;
    }
    &__descr {
      flex-basis: 100%;
    }
    &__item {
      flex-wrap: wrap;
      justify-content: center;
    }

    // .process__item-icon

    &__item-icon {
      width: 60px;
    }
  }

  // Testimonials
  .testimonials {
    &__imgs {
      width: 100%;
    }
    &__descr {
      width: 100%;
    }
  }

  // Services
  .services {
    &__card {
      padding: 3rem 1rem;
      align-items: center;
      text-align: center;
    }
    // .services__btns

    &__card-btns {
      // @include ds-flex($jc: start, $ai: stretch);
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__card-btn {
      margin-left: 0;
    }
  }

  // About us team
  .leader-team {
    // .leader-team__wrapper

    &__wrapper {
      grid-template-columns: minmax(150px, 250px);
    }
  }

  .footer {
    &__copyright {
      margin-right: 6rem;
    }
  }
}
