@media (max-width: 1280px) {
  // home process
  .process {
    &__wrapper {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
    &__descr {
      flex-basis: 80%;
    }
  }
}

@media (max-width: 1075px) {
  // home services
  .home-services {
    &__list {
      padding: 0 5rem;
    }
  }
}

@media (max-width: 990px) {
  // hero section
  .hero {
    &__wrapper {
      justify-content: center;
    }
    &__descr {
      flex-basis: 90%;
    }
    &__img {
      display: none;
    }
  }
  // home services
  .home-services {
    &__list {
      padding: 0 1rem;
    }
  }
}

@media (max-width: 769px) {
  html {
    font-size: 8.5px;
  }
  .header {
    &__btns {
      max-width: 250px;
    }
  }
  .burger-menu {
    width: 95%;
  }
  // home services
  .home-services {
    &__list {
      @include ds-flex($jc: center);
    }
    &__list-item {
      max-width: 450px;
    }
  }
  // Companies
  .companies {
    &__logos-top,
    &__logos-bottom {
      @include ds-flex($jc: center);
      flex-wrap: wrap;
      padding: 0;
    }
  }
  // home process
  .process {
    &__descr {
      flex-basis: 95%;
    }
  }
  // Banner Section
  .banner {
    // .banner__wrapper

    &__wrapper {
      flex-direction: column;
      justify-content: center;
    }

    // .banner__heading

    &__heading {
      flex: 1;
      border-bottom: 4px solid #e2e2e2;
      border-right: none;
      padding-right: 0;
      padding-bottom: 20px;
    }

    // .banner__text

    &__text {
      flex: 1;
      padding-left: 0;
      padding-top: 10px;
      text-align: center;
    }
  }
}

@media (max-width: 490px) {
  html {
    font-size: 7.5px;
  }
  .header {
    &__btns {
      display: block;
      width: fit-content;
    }
    &__btns .button {
      display: none;
    }
  }
  .burger-menu {
    padding: 5rem;
    &__socials {
      width: 100%;
    }
  }
  // hero section
  .hero {
    text-align: center;
    &__btns,
    &__sticker {
      flex-direction: column;
    }
    &__heading,
    &__sticker {
      margin: 0 auto 15px;
    }
    &__heading {
      font-size: 4rem;
    }
    &__text {
      margin-bottom: 3rem;
    }
  }
  .socials {
    flex-wrap: wrap;
  }

  // home process
  .process {
    text-align: center;
    &__heading {
      text-align: center;
    }
    &__descr {
      flex-basis: 100%;
    }
    &__item {
      flex-wrap: wrap;
      justify-content: center;
    }

    // .process__item-icon

    &__item-icon {
      width: 60px;
    }
  }

  .footer {
    &__copyright {
      margin-right: 6rem;
    }
  }
}
