<div class="burger-menu">
    <div class="burger-menu__btns">
        <a href="#" class="button burger-menu__btn">
            <img src="./images/right-arrow.svg" alt="close">
            <span>Start A New Project</span>
        </a>
        <div class="burger-menu__btn-close">
            <img src="./images/close-icon.png" alt="close">
        </div>
    </div>
    <nav class="burger-menu-nav">
        <ul class="burger-menu__list">
            <li class="burger-menu__item">
                <a href="index.html" class="burger-menu__link active">Home</a>
            </li>
            <li class="burger-menu__item">
                <a href="#" class="burger-menu__link">Works</a>
            </li>
            <li class="burger-menu__item">
                <a href="#" class="burger-menu__link">About us</a>
            </li>
            <li class="burger-menu__item">
                <a href="#" class="burger-menu__link">Contact us</a>
            </li>
            <li class="burger-menu__item">
                <a href="./services.html" class="burger-menu__link">Service</a>
            </li>
            <li class="burger-menu__item">
                <a href="#" class="burger-menu__link">Blogs</a>
            </li>
            <li class="burger-menu__item">
                <a href="#" class="burger-menu__link">Terms & Conditions</a>
            </li>
        </ul>
    </nav>
    <div class="burger-menu__socials">
        <p class="burger-menu__socials-title">Follow us on</p>
        <!--=include socials.html -->
    </div>
</div>