<footer class="footer">
    <div class="footer__wrapper" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
        <div class="footer__logo">
            <a href="#">
                <img src="./images/footer-logo.svg" alt="logo">
            </a>
        </div>
        <nav class="footer__menu">
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">Works</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">Services</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">Contact us</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">Careers</a>
                </li>
            </ul>
        </nav>
        <!--=include socials.html -->
        <div class="footer__terms">
            <p class="footer__copyright">Copyright <span>2023</span></p>
            <a href="#" class="footer__conditions">Terms & Conditions</a>
            <a href="#" class="footer__privacy">Privacy</a>
        </div>
    </div>
</footer>
</div>
<div class="overlay"></div>
<script src="js/main.min.js"></script>
</body>

</html>