<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600&family=Prata&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Web Agency</title>
</head>

<body>

    <div class="root-wrapper">
        <header class="header">
            <div class="container">
                <div class="header__wrapper">
                    <div class="logo">
                        <img src="./images/logo.svg" alt="logo">
                    </div>
                    <div class="header__btns">
                        <a href="#" class="button">Connect with us</a>
                        <div id="menu-btn">
                            <img src="./images/menu-btn.svg" alt="menu">
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--=include burger-menu.html -->