<ul class="socials">
    <li class="socials__item">
        <a href="#" class="socials__link">
            <img src="./images/instagram-icon.svg" alt="" class="socials__icon">
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link">
            <img src="./images/fb-icon.svg" alt="" class="socials__icon">
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link">
            <img src="./images/linkedin-icon.svg" alt="" class="socials__icon">
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link">
            <img src="./images/twitter-icon.svg" alt="" class="socials__icon">
        </a>
    </li>
    <li class="socials__item">
        <a href="#" class="socials__link">
            <img src="./images/youtube-icon.svg" alt="" class="socials__icon">
        </a>
    </li>
</ul>