<section class="vacancy">
    <div class="container">
        <div class="vacancy__wrapper">
            <div class="vacancy__descr" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <h2 class="vacancy__heading heading">
                    Join a global team of change-makers.
                </h2>
                <p class="vacancy__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ipsa nesciunt
                    explicabo aut, consequatur rem blanditiis soluta quisquam voluptas velit, delectus nostrum!
                    Praesentium, iste dolor.
                </p>
                <a href="" class="button">View Job Openings</a>
            </div>
            <div class="vacancy__img" data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200">
                <img src="./images/vacancy.webp" alt="vacancy">
            </div>
        </div>
    </div>
</section>