<section class="work" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
    <div class="container">
        <h2 class="work__heading heading">See Our Work</h2>
        <p class="work__text">Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Vitae quae exercitationem in
            nulla commodi voluptate unde animi, enim amet ullam sint fugit, ex quidem labore!</p>
        <!-- Slider main container -->
        <div class="swiper work__slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper work__slider-wrapper">
                <!-- Slides -->
                <div class="swiper-slide work__slider-slide">
                    <a href="#">
                        <img src="./images/content/slider/work-slide1.webp" alt="slide">
                    </a>
                </div>
                <div class="swiper-slide work__slider-slide">
                    <a href="#">
                        <img src="./images/content/slider/work-slide2.webp" alt="slide">
                    </a>
                </div>
                <div class="swiper-slide work__slider-slide">
                    <a href="#">
                        <img src="./images/content/slider/work-slide3.webp" alt="slide">
                    </a>
                </div>
                <div class="swiper-slide work__slider-slide">
                    <a href="#">
                        <img src="./images/content/slider/work-slide2.webp" alt="slide">
                    </a>
                </div>
                <div class="swiper-slide work__slider-slide">
                    <a href="#">
                        <img src="./images/content/slider/work-slide1.webp" alt="slide">
                    </a>
                </div>
                <div class="swiper-slide work__slider-slide">
                    <a href="#">
                        <img src="./images/content/slider/work-slide3.webp" alt="slide">
                    </a>
                </div>
            </div>
            <!-- pagination -->
            <div class="swiper-pagination work__slider-pagination"></div>

        </div>
    </div>
</section>